@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --white: #ffffff;
    --black: #14151a;
    /* gray */
    --gray-white: #ffffff;
    --gray-50: #f9f9fb;
    --gray-75: #f1f1f4;
    --gray-100: #dddee7;
    --gray-200: #c8c9d7;
    --gray-300: #adaebe;
    --gray-400: #8f92a6;
    --gray-500: #696c83;
    --gray-600: #525466;
    --gray-700: #3f414f;
    --gray-800: #292b34;
    --gray-black: #14151a;
    /* primary - purple */
    --primary-50: #eeeaff;
    --primary-100: #e5e0ff;
    --primary-200: #cabfff;
    --primary-300: #4226cc;
    --primary-400: #3e24bf;
    --primary-500: #5330ff; /* main color */
    --primary-600: #321d99;
    /* secondary - blue */
    --secondary-50: #e8f3ff;
    --secondary-100: #c7e1ff;
    --secondary-200: #a9d1ff;
    --secondary-300: #83bdff;
    --secondary-400: #429aff;
    --secondary-500: #0c7dff; /* main color */
    --secondary-600: #006de9;
    /* error */
    --error-100: #fdaaaa;
    --error-300: #f66161;
    --error-500: #bf0711;
    --error-700: #9d091e;
    /* true */
    --true-100: #9bf0b9;
    --true-300: #5fe28d;
    --true-500: #08c94b;
    --true-700: #07a840;
    /* radius */
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 80px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    @apply font-pretendard;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
